<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 mb-4">
            <h2 class="display-6">Welcome to <a class="title" href="">Blog App</a></h2>
            <hr>
            <p>
                We're thrilled to have you here. Our mission is to provide you with valuable insights, inspiration, and
                resources to enhance your life. Whether you're looking for travel tips, delicious recipes, fitness
                advice, or productivity hacks, we've got you covered.
                <br>
                Explore our collection of blogs to discover new experiences, learn from experts, and connect with a
                community of like-minded individuals. From adventurous travel stories to in-depth how-to guides, there's
                something for everyone.
                <br>
                <br>
                Join us on this journey of exploration and discovery. Click the button below to start exploring our
                blogs and unlock a world of possibilities.
            </p>
            <br><br>
            <a href="/blogs" class="btn btn-primary btn-lg">Explore Our Blogs</a>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card">
                <img src="https://source.unsplash.com/620x400/?blog" class="card-img-top" alt="Image">
                <div class="card-body">
                    <h5 class="card-title">Discover New Experiences</h5>
                    <p class="card-text">Take a journey through our blogs and discover new experiences, tips, and
                        insights to enrich your life.</p>
                    <a href="/blogs" class="btn btn-outline-primary">Start Exploring</a>
                </div>
            </div>
        </div>
    </div>
</div>