<div class="container m-3">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <div class="card p-4">
                <img src="https://source.unsplash.com/720x300/?sport" class="card-img-top" alt="Blog Image">
                <div class="card-body">
                    <h3 class="card-title">{{ blog?.title }}</h3>
                    <p class="card-text"><small class="text-muted">Posted by: <span class="fw-bold"> {{ blog?.author }}
                            </span> on
                            <i>{{ blog?.createdAt }} </i></small></p>

                    <p class="card-text" [innerHTML]="blog?.brief">
                        <hr>
                    <p class="card-text p-2" [innerHTML]="sanitizers.bypassSecurityTrustHtml(blog?.content)">
                    </p>

                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <span class="badge bg-primary m-1">{{ blog?.category }}</span>
                        </div>
                        <div>
                            <button type="button" class="btn btn-outline-secondary m-1"><i
                                    class="bi bi-heart"></i>Like</button>
                            <button type="button" class="btn btn-outline-secondary">{{ blog?.likes }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>